In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport

datos = pd.read_csv('DatosLimpios.csv')

C:\Users\anaso\AppData\Local\Temp\ipykernel_5596\3681628090.py:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [2]:

profile = ProfileReport(datos)
profile.to_file("exploration.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [3]:
datos.describe()

        Unnamed: 0  ï»¿CODIGO
count  8616.000000        0.0
mean   4332.821379        NaN
std    2517.484657        NaN
min       0.000000        NaN
25%    2157.750000        NaN
50%    4319.500000        NaN
75%    6487.250000        NaN
max    9022.000000        NaN