In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport

datos = pd.read_csv('DatosLimpios.csv')

In [2]:

profile = ProfileReport(datos)
profile.to_file("exploration.html")

Summarize dataset: 100%|██████████| 30/30 [00:03<00:00,  9.70it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.69s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.47s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 334.13it/s]

In [14]:
datos.describe()

        Unnamed: 0
count  4680.000000
mean   2344.279060
std    1354.566801
min       0.000000
25%    1171.750000
50%    2343.500000
75%    3515.250000
max    4693.000000